/**
 *
 *
 */
body { 
    background: #eee;
    color: #000; 
    font-family: Helvetica,Arial,sans-serif; 
    line-height: 1.75em; 
}

#accessibility { display: none }

#doc { padding: 1em; }

#hd { padding: 0em; border-bottom: 2px solid #ccc; }
#hd h1 { font-size: 200%; margin-bottom: -0.75em; } 
#hd ul.nav { display: block; width: 100%; text-align: right; font-size: 107%; margin-bottom: 5px; } 
#hd ul.nav li { display: inline; padding-left: 0.5em; margin-left: 0.5em; font-weight: bold; }
#hd ul.nav li.first { border: none; }

#bd { }

#yui-main .yui-b { padding: 1.5em; font-size: 114% } 
#yui-main p { padding-bottom: 1.0em; }

#ft { padding: 1em; border-top: 2px solid #ccc }

body.signup { }

h1 { font-weight: bold; font-size: 140%; }
h2 { font-weight: bold; font-size: 130%; }
h3 { font-weight: bold; font-size: 120%; }
h4 { font-weight: bold; font-size: 110%; }
h5 { font-weight: bold; font-size: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline }
a:visited { }
a:active { }

pre { font-size: 80% }

form ul.fields { }
form ul.fields li { padding-bottom: 0.5em }
form ul.fields li .required { }
form ul.fields li .errormsg,
form ul.fields li span.error { color: #f33; font-size: 80% }
form ul.fields li label, 
form ul.fields li .spacer { display: block; float: left; text-align: right; padding-right: 0.5em; width: 15ex; }
form ul.fields li label.error { color: #f33 }
form ul.fields li input.text,
form ul.fields li textarea,
form ul.fields li input.password { padding: 3px; width: 25ex; }
form ul.fields li textarea { height: 5.5em; font-size: 85%; width: 200px; }
form ul.errors { padding-bottom: 1.5em; }
form ul.errors li { color: red; list-style: disc; margin-left: 2em; }
form ul.messages { padding-bottom: 1.5em; }
form ul.messages li { color: green; list-style: disc; margin-left: 2em; }

#settings_form #profile_image_img { margin-left: 16ex; }

body { background: #efebef; }
#bd { background: #fff }

.clear { clear: both; }

.index ul.modules li { float: left; width: 47%; height: 7em; }
.index ul.modules h4 { background: #ddccdd; margin-right: 2em; padding: 0.25em 0.5em 0.25em 0.5em; margin-left: -0.25em; }
.index ul.modules p { padding-right: 2em; }

#bd p { padding-top: 0.5em; }
#bd h2 { }
#bd h3 { margin-top: 0.75em; }
#bd ul { margin-left: 1.5em; padding-top: 0.5em; }
#bd ul li { list-style-type: square; padding-bottom: 0.5em; }

#side { padding: 1.0em 0 0 1.5em; font-size: 100% }
#side .section { margin-bottom: 1.0em; }
#side h2 { font-size: 115%; font-weight: bold; margin-bottom: 0.25em; border-bottom: 2px solid #ccc }
#side > ul { padding-top: 0; margin-left: 0 }
#side > ul > li { list-style-type: none }

#side .toc .current { font-weight: bold; }

